<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<form action="{% url 'blog:edit_action' %}" method="post">    <!-- 创建表单 -->
    {% csrf_token %}        <!-- CSRF标记，防止验证失败，响应中断，有POST的都需要这个 -->
    {% if article %}        <!-- 判断是否有这个文章 -->
        <input type="hidden" name="article_id" value="{{ article.id }}"/>   <!-- 使用过滤器 -->
        <label>文章标题
            <input type="text" name="title" value="{{ article.title }}"/>
        </label>
        <br/>
        <label>文章内容
            <input type="text" name="context" value="{{ article.content }}"/>
        </label>
        <br/>
    {% else %}
        <input type="hidden" name="article_id" value="0"/>
        <label>文章标题
             <input type="text" name="title"/>
        </label>
        <br/>
        <label>文章内容
            <input type="text" name="context" />
        </label>
        <br/>
    {% endif %}
    <input type="submit" >
</form>
</body>
</html>